$black80: rgba(0, 0, 0, 0.80);

head {
    height: 0;
}

header {
    position: absolute;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: Roboto;
}

.bd-navbar .navbar-nav .nav-link {
    color: $black80;
}


.bd-pageheader {
    background: #318BB5;
    color: white;
}

.bd-item {
    .bd-pageheader {
        padding: 10px;
        background: white;
        margin-bottom:15px;

        h1 {
            color: $black80;
            font-size: 45px;
        }
    }
}


#__bs_notify__ {
    position: fixed;
    bottom: 0;
    top: auto !important;
    padding: 5px !important;
    font-size: 12px !important;
    border-radius: 0 !important;
    border-top-left-radius: 2px !important;
    height: 25px;
}
