<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
    <style type="text/css">
        #rules { 
            margin-bottom:15px;
        }
    </style>
</head>
<body class="bd-docs bd-item" data-spy="scroll" data-target=".bd-sidenav-active">
    <a id="skippy" class="sr-only sr-only-focusable" href="#content">
        <div class="container">
            <span class="skiplink-text">Skip to main content</span>
        </div>
    </a>
    {% include nav-top.html %}

    <div class="bd-pageheader">
        <div class="container">
            <h1>{{ page.title }}</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-3 push-md-9 bd-sidebar">
                <nav class="bd-links" id="docsNavbarContent">
                    <div class="bd-toc-item active">
                        <a class="bd-toc-link" href="#contents">
                            Contents
                        </a>
                        <ul class="nav bd-sidenav">
                            <li>
                                <a href="#">
                                    Summary
                                </a>
                            </li>
                            <li class="{{ active }}">
                                <a href="#context">
                                    Context
                                </a>
                            </li>
                            <li class="{{ active }}">
                                <a href="#examples">
                                    Examples
                                </a>
                            </li>
                            <li class="{{ active }}">
                                <a href="#rules">
                                    Rules
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <main class="col-12 col-md-9 pull-md-3 bd-content" role="main">
                {{ content }}
            </main>
        </div>
    </div>
    {% include footer.html %}
</body>
</html>
